@model List<ReporterProject.EntityLayer.Entities.Article>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<body class="category-page">

    @await Component.InvokeAsync("_HeadDefaultComponentPartial")
    @await Component.InvokeAsync("_HeaderDefaultComponentPartial")

    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Blog Posts Section -->
                    <section id="blog-posts" class="blog-posts section">

                        <div class="container">
                            <div class="row gy-4">

                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-4">
                                        <article class="position-relative h-100">

                                            <div class="post-img position-relative overflow-hidden">
                                                <img src="@item.CoverImageUrl" class="img-fluid" alt="" style=" height:250px">
                                                <span class="post-date">@item.CreatedDate.ToString("dd-MMM-yyy")</span>
                                            </div>

                                            <div class="post-content d-flex flex-column">

                                                <h3 class="post-title">@item.Title</h3>

                                                <div class="meta d-flex align-items-center">
                                                    <div class="d-flex align-items-center">
                                                        <i class="bi bi-person"></i> <span class="ps-2">@item.AppUser.Name @item.AppUser.Surname</span>
                                                    </div>
                                                    <span class="px-3 text-black-50">/</span>
                                                    <div class="d-flex align-items-center">
                                                        <i class="bi bi-folder2"></i> <span class="ps-2">@item.Category.CategoryName</span>
                                                    </div>
                                                </div>

                                                <p>
                                                    @(
                                                        !string.IsNullOrEmpty(item.Content) 
                                                        ? (item.Content.Length > 120 ? item.Content.Substring(0, 120) + "..." : item.Content) 
                                                        : "İçerik bulunamadı."
                                                    )
                                                </p>

                                                <hr>

                                                <a href="/Article/ArticleDetail/@item.Slug" class="readmore stretched-link"><span>Devamını Okuyun</span><i class="bi bi-arrow-right"></i></a>

                                            </div>

                                        </article>
                                    </div>

                                    <!-- End post list item -->
                                }
                            </div>
                        </div>

                    </section><!-- /Blog Posts Section -->
                    <!-- Blog Pagination Section -->
                   <section id="blog-pagination" class="blog-pagination section">
                       <div class="container">
                        <div class="d-flex justify-content-center">
                            <ul>
                                @if (ViewBag.CurrentPage > 1)
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Default", new { page = ViewBag.CurrentPage - 1 })">
                                            <i class="bi bi-chevron-left"></i>
                                        </a>
                                    </li>
                                }

                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <li>
                                        <a class="@(i == ViewBag.CurrentPage ? "active" : "")"
                                           href="@Url.Action("Index", "Default", new { page = i })">@i</a>
                                    </li>
                                }

                                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Default", new { page = ViewBag.CurrentPage + 1 })">
                                            <i class="bi bi-chevron-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    </section>

                </div>

            </div>
        </div>
    </main>
    @await Component.InvokeAsync("_FooterDefaultComponentPartial")
</body>

</html>